.submit-form .submit-button{
    margin-top: 18px;
    margin-left: 10px;
}

.counter{
    padding-top: 15px;
    margin-right: 40px;
}

.todos-list{
    max-width: 400px;
}

.app-container{
    min-height: 500px;
    max-width: 400px;
    padding: 20px;
    margin-top: 30px;
}
